@import './variables.scss';

@mixin max-width() {
  width: 100%;
  max-width: 144rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  @include device(mobile) {
    padding: 0 1.6rem;
  }
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin device($device) {
  @if $device == desktop {
    @media only screen and (max-width: 1440px) {
      @content;
    }
  }

  @if $device == laptop {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $device == tablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }
  @if $device == mobile {
    @media only screen and (max-width: 425px) {
      @content;
    }
  }
}
