$dark-primary: #292e36;
$dark-secondary: #343942;
$dark-tertiary: #343942;

$color-white: #ffffff;
$color-light-primary: #dedede;
$color-light-secondary: #ffffff;
$color-primary: #e1b168;
$color-gray: #555555;
$color-gray-border: #5c6168;

$family-primary: 'Cormorant Garamond', serif;
$family-secondary: 'Josefin Sans', sans-serif;
